@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background: white;
  color: black;
  font-family: var(--font-optimistic-fallback), Arial, Helvetica, sans-serif;
}

.dark body {
  background: black;
  color: white;
}
